@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0c0c0c;
  --primary-text: #ffffff;
  --secondary-text: #696969;
  --primary-border: #d1d5dc;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-primary-border: var(--primary-border);
}

body {
  font-family: "Roboto", sans-serif;
}
