@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0C0C0C;
  --primary-text: #FFFFFF;
  --secondary-text: #696969;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
